@import url('../style.css');

div {
  display: inline-block;
  padding: 20px;
  background-color: orange;
  color: #fff;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: default;
}

.transicion:hover {
  background-color: blue;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(.59,2.05,.47,-1.46);
}

.rotate:hover {
  transition: all 2s linear;
  transform: rotate( 90deg );
}

.scale:hover {
  transition: all 2s linear;
  transform: scale( 0.5 );
}

.keyframe {
  animation-name: rotate;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.shake {
  animation-name: shake;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes shakeasfasfas {
  0% {
    transform: rotate(0deg);
    color: orange;
  }
  5% {
    transform: rotate(20deg);
  }
  10% {
    transform: rotate(-20deg);
  }
  15% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  25%{
    transform: rotate(0deg);
    color: blue;
  }
  100% {
    transform: rotate(0deg);
  }
}


.bounce {
  animation-name: bounce;
  animation-duration: 1s;
}

@keyframes bounce {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}


.cartel-roto {
  animation-name: cartel;
  animation-duration: 2s;
  transform-origin: 0 0;
}

@keyframes cartel {
  0% {
    transform: rotate(90deg);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(80deg);
  }
  30% {
    transform: rotate(20deg);
  }
  40% {
    transform: rotate(70deg);
  }
  50% {
    transform: rotate(30deg);
  }
  60% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(60deg);
  }
}


.reverse, .reverse2 {
  animation-name: reverse;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.reverse2 {
  animation-direction: reverse;
}
@keyframes reverse {
  from  {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}


@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}