@import url('../style.css');

@font-face {
  /* Nombre de la fuente */
  font-family: 'Montserrat';

  /* Ruta desde la cual se va a leer la fuente */
  /* src: url('./fonts/Montserrat-Regular.ttf') format('truetype'); */

  src: url('./fonts/Montserrat-Regular.woff2') format('fontwoff2'),
       url('./fonts/Montserrat-Regular.ttf') format('truetype');

  /* Peso tipografico */
  font-weight: 400;

  /* Tiempo  */
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}



body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}


h1 {
  font-weight: 400;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 400;
  font-style: italic;
}
